.dart_tool/
.packages
build/
gh-pages/
.idea
.pub/
out/
*venv*
.claudesync/
web/debug
lib/src/debug
bin/update_docs.dart
*prompt*
SCOPE.md
*.py
__pycache__/
.windsurfrules
CODE.md 
.stfolder/syncthing-folder-254637.txt
/.cursor
.stignore
*_old
/lib-working
*.diff
code_documentation.md
